*.7z
*.ai
*.dmg
*.gz
*.iml
*.iso
*.jar
*.log
*.pid
*.psd
*.py[cod]
*.rar
*.sw[op]
*.tar
*.zip
*.egg-info/
.idea/
.idea/*
.sass-cache/
bin/
build/
dist/
include/
lib/
local/
man/
node_modules/
*~
._*
.coverage
.DS_Store
.DS_Store?
.project
.pydevproject
.Spotlight-V100
.Trashes
celerybeat-schedule
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
db.sqlite3
db.sqlite3-journal
ehthumbs.db
Icon?
lib64
MANIFEST
pyvenv.cfg
Thumbs.db
